body{
    height: auto;
    width: auto;
}
.image_holder img{
    max-width: 100px;
    max-height: 100px;
}
#SearchButton{
    font-family: "Poppins";
    background-color:red ;
    color: #ffffff;
    font-size: 18px;
    border-radius: 180px;
    display: block;
    border: none;
    transition: all 0.04s linear;
    top: 8px;
    position: absolute;
    left: 155px;
}
#SearchButton:hover{
    cursor: pointer;
    background-color: #FF474C;
}
